/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

/* Generic Styles */
h1{
    font-family: 'Satisfy', cursive;
    font-size: 60px;
    margin-bottom: 2%;
}

h2{
    font-family: 'Zilla Slab', serif;
    text-align: center;
}

.title{
    margin:3% 0;
}

.btn-primary{
    background-color: #28527a;
    border-color: #28527a;
}

.btn-primary:hover{
    background-color: #28527a;
    border-color: #28527a;
}

.btn-outline-primary{
    color: #28527a;
    border-color: #28527a;
}

.btn-outline-primary:hover{
    background-color: #28527a;
    color: white;
    border-color: #28527a;
}
/* Navbar styles */
.navbar{
    background-color: #28527a;
}

.navbar-brand{
    font-family: 'Satisfy', cursive;
    font-size: 35px;
}

/* Login and signUp form styles */
.login-form{
    padding: 10% 0 10%;
}

.form{
    box-shadow: 5px;
    border: 1px solid;
    padding: 10px;
    box-shadow: 5px 10px #888888;
}

.brand{
    font-family: 'Satisfy', cursive;
    font-size: 60px;
    margin-bottom: 2%;
    color:#28527a;
    text-align: center;
}


/* style images for view */
.list-image{
    height: 50%;
    width: 100%;
}

/* style single page view */
.image-show{
    height: 100px;
    width: 100%;
    background-color: #888888;
}

/* Footer section styles */

.footer{

    background-color: #8ac4d0;
    text-align: center;
    padding-top: 1%;
    padding-bottom: 3px;
    min-height: 10px;
    /* height:60px;   Height of the footer */
    background:#8ac4d0;
}